<div id="divPai">
    <div id="divParcialMaior">
        
        <div class="statusPdv"> PRONTO PARA VENDA</div>
        <div class="divLeitorCodigoBarras">
            <input class="inputCodigoBarras" placeholder="Insira o código do produto" [(ngModel)]="codigoProduto" (keyup.enter)="adicionarProduto(codigoProduto)">
        </div>

        <div *ngIf="produtos.length==0" class="iconePdvVazio">
            <mat-icon>remove_shopping_cart</mat-icon>
            <span> Não há produtos selecionados... </span>
        </div>
   
        <div *ngIf="produtos.length > 0" class="selecaoProdutos" style=" overflow: scroll;">
            <div class="container-selecoes-pdv" >
              <table class="lista-produtos-pdv" style="border-collapse: collapse; width: 100%; background-color: #f2f2f2;">
                <thead>
                  <tr>
                    <th class="titulosProdutoListadosPdv">Descrição</th>
                    <th class="titulosProdutoListadosPdv">Quantidade</th>
                    <th class="titulosProdutoListadosPdv">Desconto</th>
                    <th class="titulosProdutoListadosPdv">Preço</th>
                  </tr>
                </thead>

                <tbody style="line-height: 1.5;" >
                  <ng-container *ngFor="let produto of produtos; let i = index "   class="linha-produto">                    
                    <tr [style.background-color]="i % 2 === 0 ? '#ffffff': '#ebe8fd' ">
                      <td class="produtosListadosPdv">{{produto.nome}}</td>
                      <td class="produtosListadosPdv">{{produto.quantidade | number:'1.2-2'}} </td>
                      <td class="produtosListadosPdv">0</td>
                      <td class="produtosListadosPdv">R$ {{produto.preco | number:'1.2-2'}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        
      </div>
      
    <div id="divParcialMenor">
        <div class="divBtnPdvSair">
            <button class="btnsPdv" id="btnSairPdv" (click)="sairDoPdv()">
                <span class="text">Sair do Pdv</span>
                <mat-icon style="vertical-align: middle;">exit_to_app &nbsp;</mat-icon>
            </button>
            </div>
        <div class="linha-separadora"></div>

        <div class="outrasAcoesVenda">
            <button class="btnsPdv" id="btnSelecaoClientes">
                <span class="text">Vincular Cliente</span>
                <mat-icon style="vertical-align: middle;">perm_identity</mat-icon>
            </button>

            <button class="btnsPdv" id="BtnApagarSelecoes" (click)="descartarVenda()">
                <span class="text">Descartar Venda</span>
                <mat-icon style="vertical-align: middle;">delete</mat-icon>
            </button>
        </div>

        <div class="linha-separadora"></div>

        <div class="totalizadoresPdv">

            <div class="divTotalBrutoPdv">
                <p class="txtSubTotais">TOTAL BRUTO: </p>
                <div class="SubValorVenda">R$ {{totalVenda | number:'1.2-2'}}</div>
            </div>

            <div class="divTotalAcrescimosPdv">
                <p class="txtSubTotais">ACRÉSCIMOS:</p>
                <div class="SubValorVenda">R$ {{totalAcrescimos | number:'1.2-2'}}</div>
            </div>

            <div class="divTotalDescontosPdv">
                <p class="txtSubTotais">DESCONTOS:</p>
                <div class="SubValorVenda">R$ {{totalDescontos | number:'1.2-2'}}</div>
            </div>

            <div class="divTotalVendaPdv" id="totalVenda">
                <div class="txtTotal">TOTAL:</div>
                <div class="valorVenda">R$ {{totalVenda | number:'1.2-2'}}</div>
            </div>
        
        </div>

        <div id="divValorTroco">
            <p class="textTroco">Troco&nbsp;</p>
            <div id="valorTroco">R$ 0,00</div>
        </div>

        <button class="btnsPdv" id="BtnFinalizarVenda">
            <span class="text">Finalizar venda</span>
            <mat-icon  style="vertical-align: middle; width: 30px; height: 30px;">shopping_cart</mat-icon>
        </button>
    </div>
</div>
