<app-nav-bar></app-nav-bar>

<div class="divMaior">

    
    <a class="homeOpcoes">
        <p class="textoHome">Crediário</p>
        <div class="IconHome">
            <mat-icon class="HomeIcones">folder_shared</mat-icon> 
        </div>
    </a>

    <a class="homeOpcoes" [routerLink]="'/pdv'">
        <p class="textoHome">Pdv</p>
        <div class="IconHome">
            <mat-icon class="HomeIcones">shopping_basket</mat-icon> 
        </div>
    </a>

    <a class="homeOpcoes">
        <p class="textoHome">Relatórios</p>
        <div class="IconHome">
            <mat-icon class="HomeIcones">poll</mat-icon> 
        </div>
    </a>


    <a class="homeOpcoes">
        <p class="textoHome">Estoque</p>
        <div class="IconHome">
            <mat-icon class="HomeIcones">widgets</mat-icon> 
        </div>
    </a>


    <a class="homeOpcoes">
        <p class="textoHome">Pessoas</p>
        <div class="IconHome">
            <mat-icon class="HomeIcones">group</mat-icon> 
        </div>
    </a>


    <div class="homeOpcoes">
        <p class="textoHome">Configurações</p>
        <div class="IconHome">
            <mat-icon class="HomeIcones">settings</mat-icon> 
        </div>
    </div>

</div>