.divMaior{
    width: 100%;
    height: 100vh;
}

.filtroListagemProdutos{
    height: 18%;
    flex-wrap: wrap;
}

.tituloFiltros{
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #afa2fb;
    margin-left: 1%;
}

.checkboxFiltros{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #afa2fb;
    gap: 2%;
    vertical-align: middle;
}

.checkbox{
    appearance: none;
    background-color: #f0efef;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
}

.checkboxContainer {
    display: flex;
    align-items: center;
}

.inputsFiltros{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    height: 30%;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #afa2fb;
}

.inputFiltro{
    appearance: none;
    -webkit-appearance: none;
    background-color: #f0efef;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    margin-right: 5%;
    width: 25%;
    height: 90%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgba(48, 48, 48, 0.436);
    
}

.selecaoProdutos{
    height: 80%;
    overflow: scroll;
     margin-top: 1%;
}

.containerSelecoesPdv{
    height: 100% ;
}


.linhaProduto{
    grid-template-columns: 2fr 1fr 1fr; 
    text-align: center;
    
}

.linhaProduto:hover{
    cursor: pointer;
    border: 1px inset rgba(137, 43, 226, 0.436);
    // border-color: blueviolet;
}
.listaProdutosPdv{
    border-collapse: collapse;
    width: 100%; 
    background-color: #f2f2f2;
    height: 8%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #afa2fb;
   
    
}

.produtosListadosPdv {
    padding: 10px; 
    
}

.iconesLista{
    vertical-align: middle;
    width: 14%;
    height: 100%;
    font-size: 100%;
    display: inline;
}

.iconesLista:hover{
    transform: scale(1.3);
}

.btnCadastroProduto{
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 15px;
    width: 80px;
    height: 80px;
    border: 1px solid silver;
    font-size: 1.8em;
    background-color: #afa2fb;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8553f6;
    box-shadow: 3px 4px 9px #38050585;
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnCadastroProduto:hover{
    transform: scale(1.3);
}

@media(max-width: 700px){
    .iconesLista{
        display: none;
    }

    .produtosListadosPdv{
        font-size: 18px;
    }

    .checkboxFiltros, .inputsFiltros{
        font-size: 15px;
        
    }

    .inputsFiltros{
        display: inline-block;
        flex-wrap: wrap;
        // margin-left: 64px;
        width: 80%;
       
        // margin-bottom: 20%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
    }

    .txtInputs{
        width: 17%;
    }

    .filtroListagemProdutos{
        // margin-bottom: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
    }

    .inputFiltro{
        width: 410px;
        height: 60%;
        margin-top: 2%;
    }

    // .selecaoProdutos{
    //     margin-top: 10%;
    // }

    .checkboxContainer{
        display: flex;
        align-items: center;
        // width: 27%;
        flex-wrap: wrap;
        width: 50%;
    }

    .checkboxFiltros{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .checkbox{
         width: 30px;
    }

    .selecaoProdutos{
    }
}

