<app-nav-bar></app-nav-bar>
<div class="divMaior">

  <div class="divSuperior">
<div class="filtroListagemProdutos" >
    <h3 class="tituloFiltros">Filtros</h3>
    <div class="checkboxFiltros">
        <label class="checkboxContainer">
            <input class="checkbox" type="checkbox">Produtos com estoque
        </label>
        <label class="checkboxContainer">
            <input class="checkbox" type="checkbox">Produtos sem estoque
        </label>
        <label class="checkboxContainer">
            <input class="checkbox" type="checkbox">Produtos ativos
        </label>
        <label class="checkboxContainer">
            <input class="checkbox" type="checkbox">Produtos inativos
        </label>
    </div>



    <div class="inputsFiltros">
        <div class="txtInputs">Código</div>
        <input class="inputFiltro">
        <div class="txtInputs">Descrição</div>
        <input class="inputFiltro">

    </div>
</div>
</div>

<div *ngIf="1==1" class="selecaoProdutos">
    <div class="containerSelecoesPdv" >
      <table class="listaProdutosPdv">
        <tbody class="listaDadosProdutos" >
          <ng-container>                    
            <tr *ngFor="let produto of produtos; let i = index "  [style.background-color]="i % 2 === 0 ? '#ebe8fd': '#ffffff'" class="linhaProduto" (click)="abrirProduto(produto.id)">
              <td class="produtosListadosPdv"> <mat-icon class="iconesLista"> border_color</mat-icon> Id: {{ produto.id }}</td>
              <td class="produtosListadosPdv"> <mat-icon class="iconesLista">search</mat-icon> {{ produto.nome }}</td>
              <td class="produtosListadosPdv"> <mat-icon class="iconesLista">widgets</mat-icon> Estoque: {{ produto.quantidade }} </td>
              <td class="produtosListadosPdv"> <mat-icon class="iconesLista"> attach_money</mat-icon> R$ {{ produto.preco }} </td>
              <td class="produtosListadosPdv"> <mat-icon class="iconesLista"> edit_location</mat-icon> Ref.: {{ produto.referencia }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class="btnCadastroProduto" matTooltip="Clique aqui para cadastrar um novo produto" (click)="abreCadastroProduto()">+</div>
</div>


