
    <nav class="navbarDivMaior">
        <div class="navbarLogo">
            <a href="#">Logo</a>
        </div>
        <ul class="navbarNavegacao">
            <li class="navegacaoItem"><mat-icon>home</mat-icon>&nbsp;<a class="textoOpcoesNav" href="#">Tela inicial</a></li>
            <li class="navegacaoItem"><mat-icon >widgets</mat-icon>&nbsp;<a class="textoOpcoesNav" href="#">Estoque</a></li>
            <li class="navegacaoItem"><mat-icon>shopping_basket</mat-icon>&nbsp;<a class="textoOpcoesNav" href="#">Pdv</a></li>
            <li class="navegacaoItem"><mat-icon> attach_money</mat-icon>&nbsp;<a  class="textoOpcoesNav" href="#">Financeiro</a></li>
        </ul>
    </nav>

